################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project.NET/obj
/Project.NET/bin/Debug/netcoreapp3.1
/Project.NET/.vs/Project.NET
/.vs
